<div ng-init="initProjectById()" class="row delay" ng-controller="DelayController" ng-hide="delay">
    <div class="col-md-12">
        <h3>Project
            <span ng-if="isProjectLeader || isAdmin">
                    <a ng-href="#/projects/{{projectId}}/edit" class="btn btn-success btn-sm">Edit</a>
            </span>
        </h3>
    </div>
    <!-- Project -->
    <div class="col-md-12">
        <p><span class="bold">Name: </span>{{project.Name}}</p>
        <p><span class="bold">Key: </span>{{project.ProjectKey}}</p>
        <p><span class="bold">Description: </span>{{project.Description}}</p>
        <p><span class="bold">Leader Id: </span> {{project.Lead.Id}}
            <span class="gray-info">
                ({{project.Lead.Username}})
            </span>
        </p>
        <p><span class="bold">Labels: </span>
            <span ng-repeat="label in project.Labels">
                {{label.Name}}{{$last ? '': ', '}}
            </span>
        </p>
        <p><span class="bold">Priorities: </span>
            <span ng-repeat="priority in project.Priorities">
                {{priority.Name}}{{$last ? '': ', '}}
            </span>
        </p>
    </div>
    <!-- Issues -->
    <div class="col-md-12">
        <h3 class="inline-block">Project Issues</h3>
         <!-- Modal -->
        <div ng-if="isAdmin || isProjectLeader" class="inline-block">
            <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#addIssue">Add</button>
            <div class="modal fade" id="addIssue" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div ng-controller="ProjectsController" ng-include="'projects/add-issue.html'"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="issues.length > 0">
        <!-- Filters -->
        <div class="col-md-2">
            <div class="checkbox">
                <label><input type="checkbox" ng-model="show.all" ng-click="filterIssuesByAssignee()"/>Show all issues</label>
            </div>
            <div>
                <h5 class="bold">Order by:</h5>
                <div class="radio">
                    <label><input type="radio" name="order" ng-click="orderByIssues('Title')"/>Issue Title</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="order" ng-click="orderByIssues('DueDate')"/>Due Date</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="order" ng-click="orderByIssues('Assignee.Username')"/>Assignee</label>
                </div>
            </div>
            <div>
                <h5 class="bold">Filter by due date:</h5>
                <div class="radio">
                    <label><input type="radio" name="issue" ng-click="filterIssuesByDueDate('Today')"/>Today</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="issue" ng-click="filterIssuesByDueDate('InThreeDays')"/>In Three Days</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="issue" ng-click="filterIssuesByDueDate('InFiveDays')"/>In Five Days</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="issue" ng-click="filterIssuesByDueDate('InOneWeek')"/>In A Week</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="issue" ng-click="filterIssuesByDueDate('InTenDays')"/>In Ten Days</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="issue" ng-click="filterIssuesByDueDate('InTwoWeeks')"/>In Two Weeks</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="issue" ng-click="filterIssuesByDueDate('All')"/>All Issues</label>
                </div>
            </div>
            <div>
                <h5 class="bold">Filter by status:</h5>
                <div class="checkbox">
                    <label><input type="checkbox" ng-model="issueStatus['Open']"/>Open</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" ng-model="issueStatus['InProgress']"/>In Progress</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" ng-model="issueStatus['StoppedProgress']"/>Stopped Progress</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" ng-model="issueStatus['Closed']"/>Closed</label>
                </div>
            </div>
            <div>
                <h5 class="bold">Filter by priority:</h5>
                <input type="text" class="form-control" ng-model="filterByPriority.Priority.Name"
                       placeholder="Priority name"/>
            </div>
        </div>
        <!-- Issues -->
        <div class="col-md-10">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th class="col-md-3">Issue</th>
                    <th class="col-md-4">Description</th>
                    <th class="col-md-2">Due Date</th>
                    <th class="col-md-2">Assignee</th>
                    <th class="col-md-2">Priority</th>
                    <th class="col-md-2">Status</th>
                </tr>
                </thead>
                <tbody ng-repeat="issue in issues |orderBy:orderIssues | filter:filterMyIssues | filter:filterByPriority
                | filter:dateFilter | filter:filterIssuesByStatus">
                <tr>
                    <td><a ng-href="#/issues/{{issue.Id}}">{{issue.Title}}</a></td>
                    <td >{{issue.Description}}</td>
                    <td>{{issue.DueDate | date}}</td>
                    <td>{{issue.Assignee.Username}}</td>
                    <td>{{issue.Priority.Name}}</td>
                    <td>{{issue.Status.Name}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-12" ng-if="issues.length === 0">
        <h4>None</h4>
    </div>
</div>