<form action="#/">
    <div class="form-group">
        <div class="input-group has-feedback">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input type="text" class="form-control" id="username" placeholder="Username" required>
            <span id="validate-username"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
            <input type="password" id="password" class="form-control" placeholder="Password" required>
            <span id="validate-password"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
            <input type="password" id="confirm-password" class="form-control" placeholder="Confirm password" required>
            <span id="validate-confirm-password"></span>
        </div>
    </div>
    <div class="form-group">
        <button id="register-btn" class="btn btn-default" disabled>Register</button>
    </div>
</form>

