body {
    width: 250px;
    margin: 30px auto;
    background-color: #FFF7F0;
}

div {
    margin-bottom: 10px;
    width: 200px;
}

.required {
    color: red;
}

#display-invoice {
    display: none;
}