<div class="row">
    <div class="col-md-12">
        <h2>Dashboard</h2>
    </div>
    <div class="col-md-3">
        <h3>Assigned Projects</h3>
        <div ng-repeat="issue in myIssues.Issues | uniqueObject: 'Project': 'Name'">
            <a ng-href="#/projects/{{issue.Project.Id}}">{{issue.Project.Name}}</a>
        </div>
    </div>
    <div class="col-md-9">
        <h3>Assigned Issues</h3>
        <table class="table">
            <thead>
            <tr>
                <th>Project</th>
                <th>Issue</th>
                <th>Description</th>
                <th>Due Date</th>
            </tr>
            </thead>
            <tbody ng-repeat="issue in myIssues.Issues">
            <tr>
                <td><a ng-href="#/projects/{{issue.Project.Id}}">{{issue.Project.Name}}</a></td>
                <td><a ng-href="#/issues/{{issue.Id}}">{{issue.Title}}</a></td>
                <td>{{issue.Description}}</td>
                <td>{{issue.DueDate | date}}</td>
            </tr>
            </tbody>
        </table>
        <div>
            <uib-pagination boundary-links="true" total-items="totalItems" ng-model="issuesParams.pageNumber"
                            class="pagination-sm" items-per-page="issuesParams.pageSize" ng-change="reloadIssues()"
                            previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
            </uib-pagination>
        </div>
    </div>
    <div class="col-md-12" ng-if="authServices.isAdministrator()">
        <!-- Button trigger modal -->
        <button class="btn btn-success" data-toggle="modal" data-target="#addProject">Add New Project</button>
        <a href="#/projects" class="btn btn-default">List All Projects</a>
        <!-- Modal -->
        <div ng-include="'views/modals/add-project-modal.html'"></div>
    </div>
</div>




