<div class="checkbox">
    <label><input type="checkbox" ng-model="show.all" ng-click="filterIssues()"/>Show all issues</label>
</div>
<div>
    <h5 class="bold">Filter by due date:</h5>
    <div class="radio">
        <label><input type="radio" name="issue" ng-click="filterIssuesByDueDate('Today')"/>Today</label>
    </div>
    <div class="radio">
        <label><input type="radio" name="issue" ng-click="filterIssuesByDueDate('InThreeDays')"/>In Three Days</label>
    </div>
    <div class="radio">
        <label><input type="radio" name="issue" ng-click="filterIssuesByDueDate('InFiveDays')"/>In Five Days</label>
    </div>
    <div class="radio">
        <label><input type="radio" name="issue" ng-click="filterIssuesByDueDate('ThisWeek')"/>This Week</label>
    </div>
    <div class="radio">
        <label><input type="radio" name="issue" ng-click="filterIssuesByDueDate('InTenDays')"/>In Ten Days</label>
    </div>
    <div class="radio">
        <label><input type="radio" name="issue" ng-click="filterIssuesByDueDate('InTwoWeeks')"/>In Two Weeks</label>
    </div>
    <div class="radio">
        <label><input type="radio" name="issue" ng-click="filterIssuesByDueDate('All')"/>All Issues</label>
    </div>
</div>
<div>
    <h5 class="bold">Filter by status:</h5>
    <div class="checkbox">
        <label><input type="checkbox" ng-model="issueStatus['Open']"/>Open</label>
    </div>
    <div class="checkbox">
        <label><input type="checkbox" ng-model="issueStatus['InProgress']"/>In Progress</label>
    </div>
    <div class="checkbox">
        <label><input type="checkbox" ng-model="issueStatus['StoppedProgress']"/>Stopped Progress</label>
    </div>
    <div class="checkbox">
        <label><input type="checkbox" ng-model="issueStatus['Closed']"/>Closed</label>
    </div>
</div>
<div>
    <h5 class="bold">Filter by priority:</h5>
    <input type="text" class="form-control" ng-model="filterByPriority.Priority.Name"
           placeholder="Priority name"/>
</div>