#wrapper {
	background-color: #3b5998;
	color: white;
	width: 790px;
	height: 550px;
	font-family: Tahoma;
}
#wrapper h1 {
	font-size: 90px;
	margin: 0;
	text-align: center;
}
#wrapper h2, h5{
	margin: 0;
	margin-bottom: 5px;
	text-align: center;
}
#noneImportant {
	width: 270px;
	border-radius: 8px;
	margin: 30px 35px 15px 15px;
	float: left;
}
#noneImportant legend {
	font-size: 12px;
	font-weight: bold;
	text-align: center;
}
#noneImportant input[type="text"], input[type="email"], input[type="phone"], 
input[type="password"], input[type="website"] {
	width: 128px;
	border-radius: 5px;
	padding: 3px 0px;
	margin-bottom: 7px;
}
#noneImportant p {
	padding-bottom: 3px;
	text-align: left;
	font-size: 12px;
	font-weight: bold;
}
#noneImportant input[type="date"] {
	width: 200px;
	border-radius: 5px;
	margin-bottom: 10px;
}
#noneImportant span {
	display: inline-block;
	padding-right: 20px;
	margin-bottom: 33px;
}

#important {
	border-radius: 8px;
	margin: 30px 0 15px;
	float: left;
	width: 400px;
}
#important legend {
	font-size: 12px;
	font-weight: bold;
	text-align: center;
}
#important input[name="country"], input[name="village"], input[name="district"], 
input[name="street"] {
	width: 125px;
	border-radius: 5px;
	padding: 3px 0px;
	margin-bottom: 7px;
}
#important input[name="nr"], input[name="floor"], input[name="apNr"] {
	width: 65px;
	border-radius: 5px;
	padding: 3px 0px;
	margin-bottom: 7px;
}
#important p {
	padding-bottom: 3px;
	text-align: left;
	font-size: 12px;
	font-weight: bold;
}
#important input[name="doorColor"] {
	width: 125px;
	border-radius: 5px;
	padding: 0px 0px;
	margin-bottom: 7px;
}

#important input[name="water"], input[name="aunt"] {
	width: 125px;
	border-radius: 5px;
	padding: 3px 0px;
	margin-bottom: 7px;
}
#important textarea {
	width: 390px;
	height: 60px;
	border-radius: 5px;
}

label input[type="reset"] {
	width: 300px;
	height: 50px;
	border-radius: 8px;
	font-size: 15px;
	font-weight: bold;
	color: #3b5998;
	margin-left: 15px;
	padding-top: 7px;
}
label input[type="submit"] {
	width: 430px;
	height: 50px;
	border-radius: 8px;
	font-size: 25px;
	color: #3b5998;
	margin-left: 30px;
}
