@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-12">
        <h3><a href="@Url.Action("Index", "Home")">Click</a> to cache for 15tn sec.: @DateTime.Now.ToString("T")</h3>
    </div>
</div>


